@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #135bec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
}

@layer base {
  body {
    @apply bg-background-light text-slate-900 antialiased;
  }
}

.ios-blur {
  @apply backdrop-blur-md bg-white/80;
}

